@import "animations/_all.less";
@import "controls/_all.less";
@import "mixins/_all.less";
@import "resets/global-reset.less";
@import "variables/_all.less";

html {
    background-color: fade(@black, 90%);
    overflow: hidden;
}

main {
    background-color: @blue-bg;
    padding-top:10%;
    position: relative;
}

@import "components/_all.less";