@import "resets/global-reset.less";
@import "variables/_all.less";
@import "animations/_all.less";
@import "mixins/animate.less";

main {
    position: relative;
}

.machine {
    outline: 2px solid red;
    background: yellow;
    position: relative;
    max-width: 100%;
    width: 960px;
}


@import "shapes/_all.less";