.axel {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    @rectWidth: calc(@spacingDouble ~'*'~`16`);
    @rectHeight: calc(@spacingDouble ~'*'~`3.2`);
    position: relative;
    width: @rectWidth;
    height: @rectHeight;
}