.tank {
    display: flex;
    top:7rem;
    align-items: flex-end;
    z-index: 2;
    .gameObj(@width: 34rem, @height: 34rem, @imageUrl: ~"/images/tankx200.png");

    &::after,
    &::before {
        width: 90%;
        height: 2rem;
        left: 1rem;
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        border-bottom-right-radius: 2.5rem;
        border-bottom-left-radius: 2.5rem;
    }
}