.moveObjectRight(
    @name: moveRight,
    @defaultLeft: 0,
    @start: 0,
    @quarter: 25%,
    @half: 50%,
    @third: 75%,
    @finish: 100%,
    @duration: 10s,
    @count: 1,
    @timing: linear,
    @mode: forwards) {
    @keyframes moveRight {
        0%   {left: @start;}
        25%  {left: @quarter}
        50%  {left: @half}
        75%  {left: @third}
        100% {left: @finish}
    }
    .animate(
        @name: @name,
        @duration: @duration,
        @count: @count,
        @timing: @timing,
        @mode: @mode
    )
}