.spinObject(@name: spin, @startDegree: 0deg, @finishDegree: 360deg, @duration: 3s, @count: 1, @timing: linear) {
    @keyframes spin {
        0% {
            transform: rotate(@startDegree);
        }
        100% {
            transform: rotate(@finishDegree);
        }
    }
    .animate(
        @name: @name,
        @duration: @duration,
        @count: @count,
        @timing: @timing
    )
}