.spin(@name: spin, @startDegree: 0deg, @finishDegree: 360deg, @duration: 0, @count: 0, @timing: linear, @mode: none) {
    @keyframes spin {
        0% {
            transform: rotate(@startDegree);
        }
        100% {
            transform: rotate(@finishDegree);
        }
    }
    .animate(
        @name: @name,
        @duration: @duration,
        @count: @count,
        @timing: @timing,
        @mode: @mode
    )
}