.rectangle {
    background: url(~"/images/tankx200.png") no-repeat center;
    background-size: contain;
    border: 2px dotted white;
    width: calc(@spacingDouble ~'*'~`15`);
    height: calc(@spacingDouble ~'*'~`10`);
}